<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ base_url }}assets/img/logoivc.png">
    <title>Login</title>
    <link href="{{ base_url }}assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}assets/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-md-4 col-centered">
        <form class="form-signin" id="loginform" method="post" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            {{ CSRFtoken|raw }}
        </form>
        <p id="errmsg" style="color:red"></p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
<script src="{{ base_url }}assets/js/login.js"></script>
</body>
</html>